/* Poppins */
@font-face {
    src: url('../fonts/Poppins/Poppins-100.ttf') format('truetype');
    font-family: 'Poppins';
    font-weight: 100;
}

@font-face {
    src: url('../fonts/Poppins/Poppins-200.ttf') format('truetype');
    font-family: 'Poppins';
    font-weight: 200;
}

@font-face {
    src: url('../fonts/Poppins/Poppins-300.ttf') format('truetype');
    font-family: 'Poppins';
    font-weight: 300;
}

@font-face {
    src: url('../fonts/Poppins/Poppins-400.ttf') format('truetype');
    font-family: 'Poppins';
    font-weight: 400;
}

@font-face {
    src: url('../fonts/Poppins/Poppins-500.ttf') format('truetype');
    font-family: 'Poppins';
    font-weight: 500;
}

@font-face {
    src: url('../fonts/Poppins/Poppins-600.ttf') format('truetype');
    font-family: 'Poppins';
    font-weight: 600;
}

@font-face {
    src: url('../fonts/Poppins/Poppins-700.ttf') format('truetype');
    font-family: 'Poppins';
    font-weight: 700;
}

@font-face {
    src: url('../fonts/Poppins/Poppins-800.ttf') format('truetype');
    font-family: 'Poppins';
    font-weight: 800;
}

@font-face {
    src: url('../fonts/Poppins/Poppins-900.ttf') format('truetype');
    font-family: 'Poppins';
    font-weight: 900;
}

.Poppins {
    font-family: 'Poppins' !important;
}